<<<<<<< HEAD
/* oneChapterContent*/
/* Custom player CSS */
#overlay {
}

#rewatch{
	position: relative; 
	top:40%;
}
#nextMission{
	position: relative; 
	top:41%;
}
div.player{
	z-index:2;
}
#transcript{
	max-height:310px;
	overflow-y:scroll; 
}
.flowplayer .fp-subtitle{
	/* bottom:25px; */
	bottom:-39px;
	font-size:1em;
}
.flowplayer.is-fullscreen .fp-subtitle{
	bottom:25px;
	font-size:1em;
}
.flowplayer .fp-subtitle p {
   font-size: 1.3em;
   /* background-color:rgba(0,0,0,0.7); */
   padding:.5em .7em;
   border-radius:.2em;
}
.is-splash.flowplayer #captionbtn, .is-loading.flowplayer #captionbtn {
	display: none;
}
.flowplayer.is-ready #captionbtn.active{
	background: url('/learninghouse/assets/img/cc-active_18x18.png');
}
.flowplayer.is-ready #captionbtn{
	position:absolute;
	background: url('/learninghouse/assets/img/cc-inactive_18x18.png');
	cursor:pointer;
	width:18px;
	height:18px;
	bottom:1px;
	right:125px;
	z-index:2;
}
.is-mouseout.flowplayer #captionbtn {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	/* same transition as other ui elements like fullscreen */
	-webkit-transition: opacity .15s .3s;
	-moz-transition: opacity .15s .3s;
	transition: opacity .15s .3s;
}
/* speed button switch */
=======
/* oneChapterContent*/
/* Custom player CSS */
#overlay {
}

#rewatch{
	position: relative; 
	top:40%;
}
#nextMission{
	position: relative; 
	top:41%;
}
div.player{
	z-index:2;
}
#transcript{
	max-height:310px;
	overflow-y:scroll; 
}
.flowplayer .fp-subtitle{
	/* bottom:25px; */
	bottom:-39px;
	font-size:1em;
}
.flowplayer.is-fullscreen .fp-subtitle{
	bottom:25px;
	font-size:1em;
}
.flowplayer .fp-subtitle p {
   font-size: 1.3em;
   /* background-color:rgba(0,0,0,0.7); */
   padding:.5em .7em;
   border-radius:.2em;
}
.is-splash.flowplayer #captionbtn, .is-loading.flowplayer #captionbtn {
	display: none;
}
.flowplayer.is-ready #captionbtn.active{
	background: url('/learninghouse/assets/img/cc-active_18x18.png');
}
.flowplayer.is-ready #captionbtn{
	position:absolute;
	background: url('/learninghouse/assets/img/cc-inactive_18x18.png');
	cursor:pointer;
	width:18px;
	height:18px;
	bottom:1px;
	right:125px;
	z-index:2;
}
.is-mouseout.flowplayer #captionbtn {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	/* same transition as other ui elements like fullscreen */
	-webkit-transition: opacity .15s .3s;
	-moz-transition: opacity .15s .3s;
	transition: opacity .15s .3s;
}
/* speed button switch */
>>>>>>> a471a537ee8c507d8a5281e87616ea1aed2f4b63
.is-splash.flowplayer #speedbtn, .is-loading.flowplayer #speedbtn {
	display: none;
}
.flowplayer.is-ready #speedbtn.active{
	background: url('/learninghouse/assets/img/Forward-active_18x18.png');
}
.flowplayer.is-ready #speedbtn{
	position:absolute;
	background: url('/learninghouse/assets/img/Forward-inactive_18x18.png');
	cursor:pointer;
	width:18px;
	height:18px;
	bottom:1px;
	z-index:2;
<<<<<<< HEAD
}
.flowplayer.is-ready.has-subtitle.has-speedbtn #speedbtn{
	right:147px;
}
.flowplayer.is-ready.no-subtitle.has-speedbtn #speedbtn{
	right:125px;
=======
}
.flowplayer.is-ready.has-subtitle.has-speedbtn #speedbtn{
	right:147px;
}
.flowplayer.is-ready.no-subtitle.has-speedbtn #speedbtn{
	right:125px;
>>>>>>> a471a537ee8c507d8a5281e87616ea1aed2f4b63
}
.is-mouseout.flowplayer #speedbtn {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	same transition as other ui elements like fullscreen
	-webkit-transition: opacity .15s .3s;
	-moz-transition: opacity .15s .3s;
	transition: opacity .15s .3s;
<<<<<<< HEAD
}
/* Speed Button CSS */
#player-content {
	/*width: 95%;*/
}

.flowplayer {
	background: #333 ;
	background-size: contain;
}
/* data-ratio 0.75 via css */
.flowplayer .fp-ratio {
	
}

/* initially hide speed buttons while they cannot be used */
.is-splash.flowplayer .buttons, .is-loading.flowplayer .buttons {
	display: none;
}
.flowplayer .buttons {
	position: absolute;
	right: 15px;
	bottom: 58px;
	z-index: 3; /* make clickable */
	display: block;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.is-mouseout.flowplayer .buttons {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	/* same transition as other ui elements like fullscreen */
	-webkit-transition: opacity .15s .3s;
	-moz-transition: opacity .15s .3s;
	transition: opacity .15s .3s;
}
.flowplayer .buttons span {
	padding: 1ex;
	margin: 0.3ex;
	width: 3.4em;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	background-color: #eee;
	cursor: pointer;
	-webkit-border-radius: 1ex;
	-moz-border-radius: 1ex;
	border-radius: 1ex;
}
.flowplayer .buttons span.active {
	color: #00a7c8;
	background-color: #666;
	cursor: default;
}
/* Fullscreen button in controlbar */
.flowplayer.no-subtitle.no-speedbtn .fp-timeline {
	margin-right: 175px; 
}
.flowplayer.has-subtitle.has-speedbtn .fp-timeline {
	margin-right: 205px; 
}
.flowplayer.no-subtitle.has-speedbtn .fp-timeline {
	margin-right: 187px; 
}
.no-mute.no-volume.flowplayer .fp-timeline {
  margin-right: 80px; /* originally: 55px */
}
.flowplayer.no-subtitle.no-speedbtn .fp-remaining, .flowplayer.no-subtitle.no-speedbtn .fp-duration {
	right: 132px; 
}
.flowplayer.no-subtitle.has-speedbtn .fp-remaining, .flowplayer.no-subtitle.has-speedbtn .fp-duration {
	right: 145px; 
}
.flowplayer.has-subtitle .fp-remaining, .flowplayer.has-subtitle .fp-duration {
	right: 167px; 
}

.no-mute.no-volume.flowplayer .fp-remaining, .no-mute.no-volume.flowplayer .fp-duration {
  right: 34px; /* originally: 10px */
}
.flowplayer .fp-volume {
  right: 32px;
}
 
/* shorten volume slider */
.flowplayer .fp-volumeslider {
  width: 78px;
}
 
/* re-position fullscreen button */
.flowplayer .fp-fullscreen {
  top: auto; /* allow fullscreen button to move down */
  bottom: -2px;
  width: 16px;
  background-position: 0 -197px;
  z-index: 1;
}
.flowplayer.is-fullscreen .fp-fullscreen {
  background-position: 0 -217px;
  bottom: -2px;
}
/* flowplayer errorPage */
.is-splash.flowplayer + .errorPage,.flowplayer.is-loading + .errorPage{
	display:none;
}
.flowplayer.is-error + .errorPage {
  /* show endscreen - a simpler alternative would be:
  
   * display: block; */
	z-index: 5;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.errorPage{
	position: relative; 
	color: #FFF; 
	text-align: center;
	font-size: 20px;
	background-color: rgb(0, 0, 0);
}
.errorPage span{
	position: relative; 
	top:40%;
}
.errorPage a#error_replay{
	position: relative; 
	top:41%;
}
/* .player_background #title p{
	font-size: 1.3em;
	color:#EEE;
=======
}
/* Speed Button CSS */
#player-content {
	/*width: 95%;*/
}

.flowplayer {
	background: #333 ;
	background-size: contain;
}
/* data-ratio 0.75 via css */
.flowplayer .fp-ratio {
	
}

/* initially hide speed buttons while they cannot be used */
.is-splash.flowplayer .buttons, .is-loading.flowplayer .buttons {
	display: none;
}
.flowplayer .buttons {
	position: absolute;
	right: 15px;
	bottom: 58px;
	z-index: 3; /* make clickable */
	display: block;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.is-mouseout.flowplayer .buttons {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	/* same transition as other ui elements like fullscreen */
	-webkit-transition: opacity .15s .3s;
	-moz-transition: opacity .15s .3s;
	transition: opacity .15s .3s;
}
.flowplayer .buttons span {
	padding: 1ex;
	margin: 0.3ex;
	width: 3.4em;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	background-color: #eee;
	cursor: pointer;
	-webkit-border-radius: 1ex;
	-moz-border-radius: 1ex;
	border-radius: 1ex;
}
.flowplayer .buttons span.active {
	color: #00a7c8;
	background-color: #666;
	cursor: default;
}
/* Fullscreen button in controlbar */
.flowplayer.no-subtitle.no-speedbtn .fp-timeline {
	margin-right: 175px; 
}
.flowplayer.has-subtitle.has-speedbtn .fp-timeline {
	margin-right: 205px; 
}
.flowplayer.no-subtitle.has-speedbtn .fp-timeline {
	margin-right: 187px; 
}
.no-mute.no-volume.flowplayer .fp-timeline {
  margin-right: 80px; /* originally: 55px */
}
.flowplayer.no-subtitle.no-speedbtn .fp-remaining, .flowplayer.no-subtitle.no-speedbtn .fp-duration {
	right: 132px; 
}
.flowplayer.no-subtitle.has-speedbtn .fp-remaining, .flowplayer.no-subtitle.has-speedbtn .fp-duration {
	right: 145px; 
}
.flowplayer.has-subtitle .fp-remaining, .flowplayer.has-subtitle .fp-duration {
	right: 167px; 
}

.no-mute.no-volume.flowplayer .fp-remaining, .no-mute.no-volume.flowplayer .fp-duration {
  right: 34px; /* originally: 10px */
}
.flowplayer .fp-volume {
  right: 32px;
}
 
/* shorten volume slider */
.flowplayer .fp-volumeslider {
  width: 78px;
}
 
/* re-position fullscreen button */
.flowplayer .fp-fullscreen {
  top: auto; /* allow fullscreen button to move down */
  bottom: -2px;
  width: 16px;
  background-position: 0 -197px;
  z-index: 1;
}
.flowplayer.is-fullscreen .fp-fullscreen {
  background-position: 0 -217px;
  bottom: -2px;
}
/* flowplayer errorPage */
.is-splash.flowplayer + .errorPage,.flowplayer.is-loading + .errorPage{
	display:none;
}
.flowplayer.is-error + .errorPage {
  /* show endscreen - a simpler alternative would be:
  
   * display: block; */
	z-index: 5;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.errorPage{
	position: relative; 
	color: #FFF; 
	text-align: center;
	font-size: 20px;
	background-color: rgb(0, 0, 0);
}
.errorPage span{
	position: relative; 
	top:40%;
}
.errorPage a#error_replay{
	position: relative; 
	top:41%;
}
/* .player_background #title p{
	font-size: 1.3em;
	color:#EEE;
>>>>>>> a471a537ee8c507d8a5281e87616ea1aed2f4b63
} */