@import url("font-awesome.min.css");			/* Font Awesome v4.0.3*/
@import url("elegant-font.css");				/* Elegant Font */
@import url("custom-player.css");               /* Flowplayer Custom CSS */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
	font-weight: 400;
	/*background: #ccc;*/
	color: #333;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

header .navbar-header img{height:50px;}
#lh-navigation.collapse .nav li a {
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size: 16px;
/*margin-top: 10px;
margin-bottom: 10px;*/
}
.navbar {
  background-color: #425865;
  /*background-color: #00CD66;*/
}
.navbar-default .navbar-brand {
	padding:15px 0;
}
#lh-navigation .navbar-nav > li > a {
	color:#333;
	background-color:transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #858585;
}
.breadcrumb{margin:20px 0;}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/*
.nav > li.web-application > a, 
.nav > li.android > a, 
.nav > li.ios > a, 
.nav > li.project-manager > a, 
.nav > li.big-data > a, 
.nav > li.ux > a{
	margin-left:15px;
	padding:3px 25px;
}*/

/*jQuery blockUI CSS
-------------------------------------------------------------------------------------- */
div.growlUI{text-align:center; z-index: 1; /*position:fixed;*/}
div.growlUI h1, div.growlUI h2 {font-size:18px; color: white; margin:20px 0;}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .message {
  padding:0 15px;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#content{padding-top:20px;}

code {
  font-size: 80%;
}

header .navbar-toggle {margin-top:23px;}
.nav-home-translucence{background:rgba(248,248,248,0.4);}
.navbar-default{
	-webkit-transition:ease 0.1s;
	   -moz-transition:ease 0.1s;
	    -ms-transition:ease 0.1s;
		    transition:ease 0.1s;}
 
.nav-header {
display: block;
padding: 3px 15px;
/*font-size: 12px;*/
line-height: 1.428571429;
/*color: #999999;*/
}

.thumbnail .caption h3{
height:70px;
}

.thumbnail img
{
padding-top: 10px;
height: 120px;	
}
.score-counter strong {
font-size: 5.5em;
display: block;
color: #dddddb;
}
.score-counter {
color: #dddddb;
}

.score-counter .active{
color: #000000;
}
.active .correct strong{
color: green;
}
.active .incorrect strong{
color: red;
}

.un-complete > img {opacity:0.6; filter:alpha(opacity=60);}
.check {color:#48cfad;}

#intro{background-image:url(../img/LH-home-bg.png); background-size:cover; margin-top:-90px;}
#intro .container{padding-bottom:6%;}
#intro .intro-content{padding:40% 0 4%; letter-spacing:0.1em;}
.intro-content h1{color:#fff; margin-bottom:30px;}
.intro-content a{font-size:1.25em;}
.intro-content .subintro{font-size:20px; color:#fff;}

#feedback{margin-top:10px;}
#feedback .alert{border:0;}
#feedback .alert-danger .close, #feedback .alert-info .close{opacity:1; filter:alpha(opacity=100); text-shadow:none; font-size:18px; letter-spacing:0.1em;}
#feedback .alert-danger .close{color:#b94a48;}
#feedback .alert-info .close{color:#3a87ad;}
#feedback .close:hover{color:#000000; opacity:0.5; filter:alpha(opacity=50);}
.fill-in-blank .text {border: none; border-bottom: 2px solid #d4d9dd; width: auto; font-size: 14px; text-indent: 5px;}

.secondary-heading {padding-bottom:5px; border-bottom:1px solid #ddd; margin:30px 0 15px; }

#unit-list {margin-bottom:30px;}
#unit-list li {margin-bottom:30px;}
.unit-block {background:#f5f5f5; border-radius:5px; border:1px solid #f5f5f5; box-shadow:0 1px 0 0 #dedede; margin-bottom:30px; transition:ease-in 0.2s;}
.unit-meta {padding-left:80px;}
.unit-meta > img {float:left; width:60px; margin-left:-80px; /*padding-bottom:15px*/;}
.unit-meta > h3 {margin:0; font-size:1.3em; font-weight:600;}
.unit-meta > p {margin:8px 0 0;}
.unit-meta .meta-info {margin:3px 0 0; font-size:0.7em; color:#999;}
.unit-meta .meta-info span {font-family:"Helvetica Neue", Helvetica, Arial, "細明體", sans-serif; font-weight:normal;}
.unit-meta .progress {margin-top:15px; height:8px; border-radius:2px;}
.unit-meta .progress .progress-bar-info {background:#24bbc9; opacity:0.7;}
.enter-btn a {width:100%;}

.achievement-task-list ul {list-style:none; padding:0; margin-bottom:30px; background:#f5f5f5; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px; box-shadow:0 1px 0 0 #dedede;}
.achievement-task-list ul li {margin:0px; /*padding:10px 0;*/ border-bottom:1px solid #e9e9e9;}
.achievement-task-list ul li:last-child {border-bottom:none;}
.achievement-task-list ul li a {cursor:pointer; text-decoration:none; padding:15px 30px 15px 70px; display:block;}
.achievement-task-list ul li a:hover {background:#fbfbfb;}
.achievement-task-list ul li a > i {float:left; color:#aaa; font-size:1.7em; margin:-3px 0 0 -50px;}
.achievement-task-list ul li a > i.check {color:#99ca6a;}
.achievement-task-list ul li a > p {color:#999; margin-left:5px}
.achievement-task-list ul li a > strong {color:#666; font-size:1.14em; font-weight:normal;}

.avatar {
	width:60px;
	height:60px;
	overflow:hidden;
	background-position:center;
	background-size:50px auto !important;
	border-radius:50px;
	border:5px solid #eee;}
.avatar img {width:60px; height:60px; display:none;}

#sidetab-wrap {position:fixed; top:25%; right:0; color:#fff; _position:absolute; /* position fixed for IE6 */}
#sidetab-wrap .sidetab {
	border-radius: 5px 0 0 5px;
	background: rgba(57, 63, 72, 0.8);
	box-shadow: -0px 3px 0px rgba(57, 63, 72, 0.2);
	cursor: pointer;
	float: right;
	height: 100%;
	padding: 20px;
	right: 0;}
#sidetab-wrap .sidetab span {font-size:1.5em; margin-bottom:5px;}
#sidetab-wrap .sidetab b {display:block; width:1px; line-height:1.3em; padding-left:5px;}

#sidebar-collapse.navbar-collapse {max-height: none;}


.course-card {display:block; border-radius:5px; overflow:hidden; position:relative;}
.course-card a {display:block; text-decoration:none;}
.course-card .content-meta {padding:30px; height:200px;}
.course-card.topic .content-meta {height:150px;}
.course-card .content-meta h3 {margin:0 0 10px; font-size:1.28em; font-weight:bold; color:#333;}
.course-card .content-meta p {margin:0; color:#888; letter-spacing:0.01em;}
.course-card:hover .content-meta p {color:#666;}
.course-card.topic {border:1px solid #ddd;}

/*.course-card.cloud-tools {border-left:10px solid #9ea5b3;}
.course-card.ui-design {border-left:10px solid #f8855c;}
.course-card.web-front {border-left:10px solid #53bbb4;}
.course-card.java-j2se {border-left:10px solid #893d52;}
.course-card.java-j2ee {border-left:10px solid #ecb61f;}
.course-card.ios {border-left:10px solid #5dc7d2;}
.course-card.android {border-left:10px solid #38b473;}
.course-card.data-base {border-left:10px solid #9a86c6;}
.course-card.software-engineering {border-left:10px solid #53519f;}
.course-card.project-management {border-left:10px solid #e34c48;}
.course-card.digital-teaching {border-left:10px solid #f36284;}
.course-card.career-development {border-left:10px solid #adb7c6;}
.course-card.hadoop-ecosystem {border-left:10px solid #666;}*/

.course-card-hero img {width:80%;}

.domain-hero.cloud { background:#39add1; }
.domain-hero.mobile { background:#39ccc1; }
.domain-hero.big-data { background:#391111; }

.upcoming-releases {padding:30px; margin-bottom:30px; position:relative;}
.upcoming-releases:after {content:''; background:url(../img/upcoming-l.svg) no-repeat 100% 100%; width:50px; height:50px; position:absolute; left:30px; bottom:20px; z-index:-1;}
.upcoming-releases:before {content:''; background:url(../img/upcoming-r.svg) no-repeat 100% 100%; width:100%; height:100%; background-color:#e8f5f5; border-radius:5px; position:absolute; right:0; bottom:0; z-index:-1;}
.upcoming-releases p {margin:0; text-align:center; color:#687273;}
.upcoming-releases strong {color:#4e5c5c;}

.alert-gray {background:#f0f4f5; border:1px solid #e6eaeb; color:#97a5a6; text-align:center;}

/*media queries
--------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	header .navbar-header img {margin-left:15px;}
	.nav-home-translucence{background:#85888e;}
	
	#lh-navigation .nav li a, .nav-home-translucence .nav li a {text-align:center; font-size:1.15em;}
	#lh-navigation .nav li a:hover, .nav-home-translucence .nav li a:hover { margin:0 10px; border-radius:5px;}
	.nav-home-translucence .nav li a {color:#fefefe;}
	#lh-navigation .nav li a:hover {background:#f2f2f2;}
	.nav-home-translucence .nav li a:hover {background:#d1d4da;}
	
	.course-card-hero img {width:50%;}
	/*.phone-login {display:none;}*/
}
@media screen and (max-width: 480px) {
	.btn-primary {width:100%;}
	.phone-login {display:block !important;}
	#intro{background:#393f48; margin-top:-90px;}	
	.intro-content h1 {font-size: 2em;}
	
	#masonry img, .quote-text:before {display:none;}
	#masonry .quote-text{margin:0;}
	
	.unit-meta {padding-left:80px;}
	.unit-meta > img {float:left; width:60px; margin-left:-80px;}
	.unit-meta > h3 {margin-top:0; font-size:1.15em;}
	.unit-meta .meta-info span {font-size:0.9em;}

	.achievement-task-list ul li a {padding:15px 15px 15px 50px;}
	.achievement-task-list ul li a > i {font-size:1.5em; margin:0 0 0 -30px;}
	.achievement-task-list ul li a > strong {font-size:1em;}
	
	.course-card-hero img {width:80%;}
	.tracks-nav-side,.topic-nav-side {display:none;}	
}
=======
/* Import Section
=================================================================== */
@import url("font-awesome.min.css");			/* Font Awesome v4.0.3*/
@import url("elegant-font.css");				/* Elegant Font */
@import url("custom-player.css");               /* Flowplayer Custom CSS */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
	font-weight: 400;
	/*background: #ccc;*/
	color: #333;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

header .navbar-header img{height:50px;}
#lh-navigation.collapse .nav li a {
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size: 16px;
/*margin-top: 10px;
margin-bottom: 10px;*/
}
.navbar {
  background-color: #425865;
  /*background-color: #00CD66;*/
}
.navbar-default .navbar-brand {
	padding:15px 0;
}
#lh-navigation .navbar-nav > li > a {
	color:#333;
	background-color:transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #858585;
}
.breadcrumb{margin:20px 0;}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/*
.nav > li.web-application > a, 
.nav > li.android > a, 
.nav > li.ios > a, 
.nav > li.project-manager > a, 
.nav > li.big-data > a, 
.nav > li.ux > a{
	margin-left:15px;
	padding:3px 25px;
}*/

/*jQuery blockUI CSS
-------------------------------------------------------------------------------------- */
div.growlUI{text-align:center; z-index: 1; /*position:fixed;*/}
div.growlUI h1, div.growlUI h2 {font-size:18px; color: white; margin:20px 0;}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .message {
  padding:0 15px;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#content{padding-top:20px;}

code {
  font-size: 80%;
}

header .navbar-toggle {margin-top:23px;}
.nav-home-translucence{background:rgba(248,248,248,0.4);}
.navbar-default{
	-webkit-transition:ease 0.1s;
	   -moz-transition:ease 0.1s;
	    -ms-transition:ease 0.1s;
		    transition:ease 0.1s;}
 
.nav-header {
display: block;
padding: 3px 15px;
/*font-size: 12px;*/
line-height: 1.428571429;
/*color: #999999;*/
}

.thumbnail .caption h3{
height:70px;
}

.thumbnail img
{
padding-top: 10px;
height: 120px;	
}
.score-counter strong {
font-size: 5.5em;
display: block;
color: #dddddb;
}
.score-counter {
color: #dddddb;
}

.score-counter .active{
color: #000000;
}
.active .correct strong{
color: green;
}
.active .incorrect strong{
color: red;
}

.un-complete > img {opacity:0.6; filter:alpha(opacity=60);}
.check {color:#48cfad;}

#intro{background-image:url(../img/LH-home-bg.png); background-size:cover; margin-top:-90px;}
#intro .container{padding-bottom:6%;}
#intro .intro-content{padding:40% 0 4%; letter-spacing:0.1em;}
.intro-content h1{color:#fff; margin-bottom:30px;}
.intro-content a{font-size:1.25em;}
.intro-content .subintro{font-size:20px; color:#fff;}

#feedback{margin-top:10px;}
#feedback .alert{border:0;}
#feedback .alert-danger .close, #feedback .alert-info .close{opacity:1; filter:alpha(opacity=100); text-shadow:none; font-size:18px; letter-spacing:0.1em;}
#feedback .alert-danger .close{color:#b94a48;}
#feedback .alert-info .close{color:#3a87ad;}
#feedback .close:hover{color:#000000; opacity:0.5; filter:alpha(opacity=50);}
.fill-in-blank .text {border: none; border-bottom: 2px solid #d4d9dd; width: auto; font-size: 14px; text-indent: 5px;}

.secondary-heading {padding-bottom:5px; border-bottom:1px solid #ddd; margin:30px 0 15px; }

#unit-list {margin-bottom:30px;}
#unit-list li {margin-bottom:30px;}
.unit-block {background:#f5f5f5; border-radius:5px; border:1px solid #f5f5f5; box-shadow:0 1px 0 0 #dedede; margin-bottom:30px; transition:ease-in 0.2s;}
.unit-meta {padding-left:80px;}
.unit-meta > img {float:left; width:60px; margin-left:-80px; /*padding-bottom:15px*/;}
.unit-meta > h3 {margin:0; font-size:1.3em; font-weight:600;}
.unit-meta > p {margin:8px 0 0;}
.unit-meta .meta-info {margin:3px 0 0; font-size:0.7em; color:#999;}
.unit-meta .meta-info span {font-family:"Helvetica Neue", Helvetica, Arial, "細明體", sans-serif; font-weight:normal;}
.unit-meta .progress {margin-top:15px; height:8px; border-radius:2px;}
.unit-meta .progress .progress-bar-info {background:#24bbc9; opacity:0.7;}
.enter-btn a {width:100%;}

.achievement-task-list ul {list-style:none; padding:0; margin-bottom:30px; background:#f5f5f5; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px; box-shadow:0 1px 0 0 #dedede;}
.achievement-task-list ul li {margin:0px; /*padding:10px 0;*/ border-bottom:1px solid #e9e9e9;}
.achievement-task-list ul li:last-child {border-bottom:none;}
.achievement-task-list ul li a {cursor:pointer; text-decoration:none; padding:15px 30px 15px 70px; display:block;}
.achievement-task-list ul li a:hover {background:#fbfbfb;}
.achievement-task-list ul li a > i {float:left; color:#aaa; font-size:1.7em; margin:-3px 0 0 -50px;}
.achievement-task-list ul li a > i.check {color:#99ca6a;}
.achievement-task-list ul li a > p {color:#999; margin-left:5px}
.achievement-task-list ul li a > strong {color:#666; font-size:1.14em; font-weight:normal;}

.avatar {
	width:60px;
	height:60px;
	overflow:hidden;
	background-position:center;
	background-size:50px auto !important;
	border-radius:50px;
	border:5px solid #eee;}
.avatar img {width:60px; height:60px; display:none;}

#sidetab-wrap {position:fixed; top:25%; right:0; color:#fff; _position:absolute; /* position fixed for IE6 */}
#sidetab-wrap .sidetab {
	border-radius: 5px 0 0 5px;
	background: rgba(57, 63, 72, 0.8);
	box-shadow: -0px 3px 0px rgba(57, 63, 72, 0.2);
	cursor: pointer;
	float: right;
	height: 100%;
	padding: 20px;
	right: 0;}
#sidetab-wrap .sidetab span {font-size:1.5em; margin-bottom:5px;}
#sidetab-wrap .sidetab b {display:block; width:1px; line-height:1.3em; padding-left:5px;}

#sidebar-collapse.navbar-collapse {max-height: none;}


.course-card {display:block; border-radius:5px; overflow:hidden; position:relative;}
.course-card a {display:block; text-decoration:none;}
.course-card .content-meta {padding:30px; height:200px;}
.course-card.topic .content-meta {height:150px;}
.course-card .content-meta h3 {margin:0 0 10px; font-size:1.28em; font-weight:bold; color:#333;}
.course-card .content-meta p {margin:0; color:#888; letter-spacing:0.01em;}
.course-card:hover .content-meta p {color:#666;}
.course-card.topic {border:1px solid #ddd;}

/*.course-card.cloud-tools {border-left:10px solid #9ea5b3;}
.course-card.ui-design {border-left:10px solid #f8855c;}
.course-card.web-front {border-left:10px solid #53bbb4;}
.course-card.java-j2se {border-left:10px solid #893d52;}
.course-card.java-j2ee {border-left:10px solid #ecb61f;}
.course-card.ios {border-left:10px solid #5dc7d2;}
.course-card.android {border-left:10px solid #38b473;}
.course-card.data-base {border-left:10px solid #9a86c6;}
.course-card.software-engineering {border-left:10px solid #53519f;}
.course-card.project-management {border-left:10px solid #e34c48;}
.course-card.digital-teaching {border-left:10px solid #f36284;}
.course-card.career-development {border-left:10px solid #adb7c6;}
.course-card.hadoop-ecosystem {border-left:10px solid #666;}*/

.course-card-hero img {width:80%;}

.domain-hero.cloud { background:#39add1; }
.domain-hero.mobile { background:#39ccc1; }
.domain-hero.big-data { background:#391111; }

.upcoming-releases {padding:30px; margin-bottom:30px; position:relative;}
.upcoming-releases:after {content:''; background:url(../img/upcoming-l.svg) no-repeat 100% 100%; width:50px; height:50px; position:absolute; left:30px; bottom:20px; z-index:-1;}
.upcoming-releases:before {content:''; background:url(../img/upcoming-r.svg) no-repeat 100% 100%; width:100%; height:100%; background-color:#e8f5f5; border-radius:5px; position:absolute; right:0; bottom:0; z-index:-1;}
.upcoming-releases p {margin:0; text-align:center; color:#687273;}
.upcoming-releases strong {color:#4e5c5c;}

.alert-gray {background:#f0f4f5; border:1px solid #e6eaeb; color:#97a5a6; text-align:center;}

/*media queries
--------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	header .navbar-header img {margin-left:15px;}
	.nav-home-translucence{background:#85888e;}
	
	#lh-navigation .nav li a, .nav-home-translucence .nav li a {text-align:center; font-size:1.15em;}
	#lh-navigation .nav li a:hover, .nav-home-translucence .nav li a:hover { margin:0 10px; border-radius:5px;}
	.nav-home-translucence .nav li a {color:#fefefe;}
	#lh-navigation .nav li a:hover {background:#f2f2f2;}
	.nav-home-translucence .nav li a:hover {background:#d1d4da;}
	
	.course-card-hero img {width:50%;}
	/*.phone-login {display:none;}*/
}
@media screen and (max-width: 480px) {
	.btn-primary {width:100%;}
	.phone-login {display:block !important;}
	#intro{background:#393f48; margin-top:-90px;}	
	.intro-content h1 {font-size: 2em;}
	
	#masonry img, .quote-text:before {display:none;}
	#masonry .quote-text{margin:0;}
	
	.unit-meta {padding-left:80px;}
	.unit-meta > img {float:left; width:60px; margin-left:-80px;}
	.unit-meta > h3 {margin-top:0; font-size:1.15em;}
	.unit-meta .meta-info span {font-size:0.9em;}

	.achievement-task-list ul li a {padding:15px 15px 15px 50px;}
	.achievement-task-list ul li a > i {font-size:1.5em; margin:0 0 0 -30px;}
	.achievement-task-list ul li a > strong {font-size:1em;}
	
	.course-card-hero img {width:80%;}
	.tracks-nav-side,.topic-nav-side {display:none;}	
}
